$back-color: #fff;
$main-color: #111;
$sec-color: #f90;
$gray-color: #888;
$light-gray-color: #ddd;
$error-color: #ff003d;

.payment-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: $back-color;
}

.payment-success-icon {
  font-size: 80px;
  color: $sec-color;
}

.payment-success-text {
  color: $main-color;
  font-size: 24px;
  margin-top: 20px;
}

.confirmation-box {
  background-color: $back-color;
  color: $main-color;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  margin-top: 1rem;

  h3 {
    color: $sec-color;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      span {
        color: $gray-color;
        font-weight: bold;
      }
    }
  }
}
