:root {
  --back-color: #fff;
  --main-color: #111;
  --sec-color: #f90;
  --gray-color: #888;
  --light-gray-color: #ddd;
  --error-color: #ff003d;
  --fr-vw: calc(100vw / 12);
}

$back-color: #fff;
$main-color: #111;
$sec-color: #f90;
$gray-color: #888;
$light-gray-color: #ddd;
$error-color: #ff003d;
$fr-vw: calc(100vw / 12);

.body-header {
  align-items: center;
  @media screen and (max-width: 550px) {
    & {
      flex-direction: column;
      padding: 0.15rem;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.header {
  background-color: var(--main-color);
  color: var(--back-color);

  .menu {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-left: 1rem;

        a {
          color: var(--back-color);
          text-decoration: none;
          padding: 10px;
          border-radius: 10px;

          &:hover {
            text-decoration: underline;
            background-color: $sec-color;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .menu {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
    }
    // flex-direction: column;
  }
}

.footer {
  display: flex;
  align-items: center;
  background: #000;
  color: var(--back-color);
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.contact-form {
  max-width: 300px;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    input,
    textarea {
      padding: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      background-color: var(--back-color);
      color: var(--main-color);
    }

    textarea {
      resize: vertical;
      min-height: 90px;
    }

    button[type='submit'] {
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      background-color: var(--sec-color);
      color: var(--back-color);
      cursor: pointer;

      &:hover {
        background-color: darken(#f90, 10%);
      }
    }
  }
}

footer {
  border-bottom: 1px solid $back-color;
  color: $main-color;
  padding: 2rem;
  background-color: $light-gray-color;

  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .footer-links ul,
    .footer-social ul {
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        margin-right: 1.5rem;

        a {
          color: $main-color;
          text-decoration: none;
          transition: color 0.2s;

          //   font-size: 2rem;

          &:hover {
            color: $sec-color;
          }
        }
      }
    }
    .footer-links {
      gap: 0.25rem;
    }

    .footer-social {
      a {
        font-size: 1.5rem;
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid $light-gray-color;
    padding-top: 1rem;
    margin-top: 2rem;
    font-size: 0.8rem;
    text-align: center;
    color: $gray-color;
  }
}

.contact {
  background-color: $light-gray-color;
  padding: 2rem;
  margin-top: 1rem;

  .container {
    max-width: 600px;

    h2 {
      margin-bottom: 1rem;
      text-align: center;
      font-size: 1.4rem;
      color: $main-color;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .form-group {
        flex-basis: 100%;
        margin-bottom: 1rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
          color: $main-color;
        }

        input[type='text'],
        input[type='email'],
        textarea {
          display: block;
          width: 100%;
          padding: 0.5rem;
          border: 1px solid $sec-color;
          border-radius: 4px;
          font-size: 1rem;
          color: $main-color;

          &:focus {
            outline: none;
            border-color: $sec-color;
          }
        }

        textarea {
          height: 150px;
          resize: none;
        }
      }

      .btn {
        margin-top: 1rem;
        background-color: $sec-color;
        color: $back-color;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          background-color: darken($sec-color, 10%);
        }
      }
    }
  }
}

.mission {
  background-color: $light-gray-color;
  padding: 4rem 2rem;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .mission-text {
      flex-basis: 100%;
      max-width: 600px;

      h2 {
        margin-bottom: 2rem;
        text-align: left;
        font-size: 2rem;
        color: $main-color;
      }

      p {
        margin-bottom: 2rem;
        text-align: left;
        font-size: 1.2rem;
        color: $main-color;
      }

      .btn {
        display: inline-block;
        margin-right: 1rem;
      }

      .btn-primary {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        color: var(--back-color);
        background-color: var(--sec-color);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: darken(#f90, 10%);
        }
      }
    }

    .mission-image {
      flex-basis: 100%;
      max-width: 400px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  transition: background-color 0.3s ease;

  i {
    font-size: 24px;
  }

  &:hover {
    background-color: #0056b3;
  }
}
