@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

:root {
  --back-color: #fff;
  --back-color-2: #eee;
  --main-color: #111;
  --sec-color: #f90;
  --dark-sec-color: #d80;
  --light-gray-color: #ddd;
  --gray-color: #888;
  --error-color: #ff003d;
  --fr-vw: calc(100vw / 12);
  --re-space: 3rem;
  --sm-re-space: 5vw;
  --md-space: 5rem;
  --xsm-space: 10px;
  --sm-box-padding: 0.6rem 1rem;
}

a {
  text-decoration: none;
  color: var(--sec-color);
}

.sec-color {
  color: var(--sec-color);
}

.error {
  color: var(--error-color);
}

.pointer {
  cursor: pointer;
}

.btn1 {
  background-color: var(--sec-color);
  color: var(--back-color);
  border: none;
  border-radius: var(--xsm-space);
  padding: var(--sm-box-padding);
  font-size: 1em;
  font-weight: bold;

  &:hover {
    background-color: var(--dark-sec-color);
  }

  &.btn-danger {
    background-color: var(--gray-color);
  }
}

.swal-button {
  margin: var(--xsm-space);
}

.back-angular {
  background: conic-gradient(
    from 65deg,
    var(--light-gray-color),
    var(--back-color-2)
  );
}

header.body-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem var(--re-space);
  background-color: var(--main-color);
  color: var(--back-color);

  > * {
    display: flex;
    align-items: center;
  }

  .brand {
    gap: var(--xsm-space);
    font-size: 1.5em;

    img {
      width: 3rem;
      height: 2.5rem;
    }
  }

  nav {
    justify-content: flex-end;
    gap: calc(var(--xsm-space) * 2);

    > * {
      position: relative;

      &:hover {
        .drop-down {
          display: block;
        }
      }
    }

    > * {
      position: relative;

      &:hover {
        .drop-down {
          display: block;
        }
      }
    }

    a {
      color: inherit;
    }

    svg {
      height: 2rem;
      width: auto;

      * {
        color: var(--light-gray-color);
        fill: currentColor;
        stroke: currentColor;
      }
    }

    .profile {
      aspect-ratio: 1/1;
      height: 2.5rem;

      img {
        border-radius: 100000px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .drop-down {
      display: none;
      position: absolute;
      max-width: 100vw;
      width: max-content;
      top: 100%;
      right: 0;
      color: var(--main-color);
      z-index: 1;
      box-shadow: 0 5px 15px -5px var(--gray-color);
      contain: content;
      border-radius: 10px;
    }

    .user {
      .user-drop {
        @include flex-column();
        width: 30vw;
        max-width: 100vw;
        min-width: 200px;
        background-color: var(--back-color);

        > * {
          @include flex-column();
          padding: calc(var(--xsm-space) * 3) 2rem;
          gap: var(--xsm-space);
          border-top: 1px solid var(--light-gray-color);
        }

        .top {
          background-color: var(--light-gray-color);
          gap: var(--xsm-space);
          align-items: center;
          padding: 2rem 0;

          .profile {
            height: 3.5rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    & {
      padding: 0.5rem var(--sm-re-space);
    }

    nav {
      display: none;
    }
  }
}

a {
  text-decoration: none;
  color: var(--sec-color);
}

.search-box {
  position: relative;
  display: flex;
  width: fit-content;
  height: 2.5rem;
  padding: 0.3rem 1rem;
  border-radius: 10000px;
  background-color: var(--light-gray-color);
  width: calc(var(--fr-vw) * 5);
  max-width: 100%;
  gap: 0.3rem;

  input {
    padding: 0.2rem 0rem;
    font-size: 1em;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    min-width: 3vw;
  }

  button {
    padding: 0.2rem 0rem;
    background-color: transparent;
    border: none;
    padding-inline: 5px;

    svg {
      height: 100%;
      width: auto;
    }
  }
}

.p-404 {
  @include flex-column();
  @include flex-column();
  text-align: center;
  align-items: center;
  margin-inline: auto;
  width: calc(var(--fr-vw) * 5);
  gap: 1rem;
  margin-top: 70px;

  h1 {
    font-size: 10em;
    font-weight: 300;
    margin-bottom: -1rem;
  }

  h2 {
    font-size: 2em;
    font-weight: 600;
  }
}

footer.body-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem var(--re-space);
  background-color: var(--light-gray-color);
  color: var(--main-color);

  > * {
    display: flex;
    align-items: center;
  }

  .brand {
    gap: var(--xsm-space);
    font-size: 1.5em;

    img {
      width: 3rem;
      height: 2.5rem;
    }
  }

  @media screen and (max-width: 550px) {
    & {
      padding: 1rem var(--sm-re-space) 2rem;
      gap: var(--xsm-space);
      flex-direction: column;
      align-items: center;
    }
  }
}

.center-xy {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  .input-1 {
    box-shadow: 0 0 5px -4px var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--sm-box-padding);
    padding: var(--sm-box-padding);
    contain: content;
    border: none;
    border-radius: var(--xsm-space);
    background: var(--back-color);

    input {
      flex: 1;
      font-size: 1em;
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;

      &::placeholder {
        color: var(--gray-color);
      }
    }

    .icon {
      display: flex;
      align-items: center;
      height: 1.5rem;

      svg {
        height: inherit;
        width: auto;
        color: var(--main-color);
        fill: currentColor;
      }
    }

    + .error {
      padding-inline: var(--xsm-space);
    }
  }
}

.sign {
  width: 40rem;
  max-width: 90vw;
  @include flex-column();
  gap: calc(var(--xsm-space) * 1.6);
  margin: 2rem auto 3rem;
  padding: 3rem 5rem;
  border-radius: var(--xsm-space);

  form {
    @include flex-column();
    @include flex-column();
    gap: calc(var(--xsm-space) * 1.6);

    > .error {
      margin-top: calc(-1 * var(--xsm-space));
      padding-inline: var(--xsm-space);
    }
  }

  @container (max-width: 550px) {
    & {
      max-width: 100vw;
      padding: 3rem var(--sm-re-space);
      margin-inline: var(--sm-re-space);
    }
  }
}

.google-button {
  box-shadow: 0 0 5px -4px var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sm-box-padding);
  padding: var(--sm-box-padding);
  contain: content;
  border: none;
  border-radius: var(--xsm-space);
  background: var(--back-color);
  color: inherit;

  .logo {
    height: 1.5rem;
    width: auto;
  }
}

.lds-ellipsis {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 80px;
  height: 16px;

  div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
#gender {
  box-shadow: 0 0 5px -4px var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sm-box-padding);
  padding: var(--sm-box-padding);
  contain: content;
  border: none;
  border-radius: var(--xsm-space);
  background: var(--back-color);
}
.or {
  display: flex;
  align-items: center;
  justify-content: center;
}
.verifyEmail {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gender {
  flex: 1;
  font-size: 1em;
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  color: var(--gray-color);
}
.btn1 {
  color: white;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link img {
  width: 30vw;
  height: 40vh;
}
.link p {
  font-size: 22px;
}
.link button {
  width: 29vw;
  height: 5vh;
}
form .success {
  color: green;
}
Link {
  color: #111;
}

.container {
  .search {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
  }
  .productsdescription {
    .shopItems {
      div {
        .shop {
          color: var(--gray-color);
          line-height: 40px;
          font-size: 1.1rem;
          b {
            color: var(--main-color);
            padding-left: 30px;
          }
        }
      }
    }
    display: grid;
    margin-top: 150px;
    grid-template-columns: 1fr 3fr;

    .product {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    aside {
      display: flex;
      flex-direction: column;
      p {
        color: var(--gray-color);
        line-height: 40px;
        font-size: 1.1rem;
        padding-left: 10px;
      }
      p span {
        color: var(--main-color);
        padding-left: 30px;
      }
      .manageProducts {
        position: relative;
      }

      .manageProducts::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 50%;
        height: 1px;
        background-color: black;
      }
    }
  }

  .sellerProfile {
    display: flex;

    .sellerInfo {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-bottom: 30px;
      padding-left: 20px;
    }
  }
  .container2 {
    height: 300px;
    grid-area: profile;
    display: flex;
    flex-direction: column;
    .profile {
      height: 60%;
    }
    .sellerProfile {
      display: grid;
      grid-template-columns: 1fr 3fr;
      .sellerPicture {
        display: flex;
        justify-content: right;
        padding-right: 20px;
        align-items: top;
        img {
          height: 200px;
          width: 200px;
          border-radius: 200px;
          border: 2px solid var(--gray-color);
        }
      }
      .sellerInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .email {
          color: var(--gray-color);
        }
        .edit {
          button {
            background-color: var(--sec-color);
            color: var(--back-color);
            border: none;
            border-radius: var(--xsm-space);
            padding: var(--sm-box-padding);
            font-size: 1em;
            font-weight: bold;
            margin-right: 40px;
            &:hover {
              background-color: var(--dark-sec-color);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    .container2 {
      .profile {
        height: 40%;
      }
    }
    .productsdescription {
      margin-top: 50px;
      aside {
        .manageProducts::after {
          content: '';
          width: 90%;
        }
      }
    }
  }
  @media screen and (max-width: 1163px) {
    .container {
      .container2 {
        .sellerProfile {
          .sellerPicture {
            img {
              height: 170px;
              width: 170px;
            }
          }
        }
        .profile {
          height: 40%;
        }
      }
    }
  }
  @media screen and (max-width: 935px) {
    .container {
      .container2 {
        .sellerProfile {
          .sellerPicture {
            img {
              height: 150px;
              width: 150px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 910px) {
    .container {
      .container2 {
        .profile {
          height: 30%;
          img {
            height: 170px;
          }
        }
      }
      .productsdescription {
        margin-top: 10px;
      }
    }
  }
  @media screen and (max-width: 680px) {
    .container {
      .container2 {
        .profile {
          img {
            height: 200px;
          }
        }
        .sellerProfile {
          display: flex;
          flex-direction: column;
          .sellerPicture {
            justify-content: center;
          }
          .sellerInfo {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 20px;
            button {
              margin-top: 20px;
            }
          }
        }
      }
      .productsdescription {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        aside {
          .sellerStatus {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            p span {
              padding-left: 0;
              text-align: center;
              line-height: 10px;
            }
          }
          .productStatus {
            display: flex;
            justify-content: center;

            .manageProducts {
              border-left: 1px solid black;
              padding: 0 20px;
              &:last-of-type {
                border-right: 1px solid black;
              }
            }
          }
          .manageProducts::after {
            display: none;
          }
        }
        .shopItems {
          padding-top: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .container {
      .container2 {
        height: 400px;
        .profile {
          img {
            height: 230px;
          }
        }
      }
      .productsdescription {
        aside {
          .sellerStatus {
            p {
              font-size: 14px;
            }
          }
          .productStatus {
            p {
              font-size: 12px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

.search {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.productContainer {
  box-sizing: border-box;
  display: grid;
  height: fit-content;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas:
    'product imfo'
    'review imfo';
  .productPictures {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    grid-area: product;
    height: 50vh;
    display: flex;
    flex-direction: row-reverse;
    .rightcont {
      width: 30%;
      overflow: auto;
      .right {
        display: flex;
        flex-direction: column;
        img {
          border-radius: 10px;
          padding: 5px;
          object-fit: cover;
        }
      }
    }
    .left {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .reviews {
    margin: 5px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    grid-area: review;

    p {
      margin-top: 30px;
      font-size: 22px;
      text-align: left;
      color: #111;
    }
    .star {
      i {
        color: #f90;
      }
    }
    .likers {
      margin-top: 10px;
      font-size: 13px;
      color: #888;
    }
  }
  .productInfo {
    grid-area: imfo;
    height: 79vh;
    margin: 5px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    .moremore {
      padding: 40px 40px;
      .more {
        .title {
          b {
            font-size: 22px;
            text-align: left;
            color: #111;
          }
        }
        .seller {
          margin-top: 10px;
          span {
            font-weight: bold;
          }
        }
        .desc {
          margin-top: 30px;
        }
        .price {
          margin-top: 30px;
          b {
            color: #111;
            font-weight: bold;
          }
        }
        p {
          font-size: 16px;
          color: #888;
        }
      }
      .buttons {
        .area1 {
          display: flex;
          flex-direction: row;
          border: 1px solid #888;
          width: 40%;
          justify-content: space-between;
          border-radius: 10px;
          flex-wrap: wrap;
          align-items: center;
          padding: 0 10px;
          height: 40px;
        }
        .btn {
          background-color: var(--sec-color);
          color: var(--back-color);
          border: none;
          border-radius: var(--xsm-space);
          padding: var(--sm-box-padding);
          font-size: 1em;
          font-weight: bold;
          width: 45%;
        }
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .productContainer {
    .productPictures {
      .rightcont {
        width: 40%;
      }
    }
  }
}
@media screen and (max-width: 810px) {
  .productContainer {
    .productPictures {
      .rightcont {
        width: 50%;
      }
    }
    .productInfo {
      .moremore {
        .buttons {
          justify-content: space-between;
          .area1 {
            p {
              font-size: 0.7em;
            }
          }
          .btn {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 730px) {
  .productContainer {
    .productPictures {
      .rightcont {
      }
    }
    .productInfo {
      .moremore {
        .buttons {
          justify-content: space-between;
          .area1 {
            p {
              font-size: 0.6em;
            }
          }
          .btn {
            font-size: 0.6em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 630px) {
  .productContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.5fr 0.3fr;
    grid-template-areas:
      'product'
      'imfo'
      'review';
    justify-content: center;
    align-items: center;
    .productPictures {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      .rightcont {
        width: 100%;
        height: 40%;
        overflow-y: hidden;
        .right {
          flex-direction: row;
          width: 100%;
          img {
            height: 150px;
            width: 40%;
          }
        }
      }
    }
    .productInfo {
      height: fit-content;
      .moremore {
        .buttons {
          justify-content: space-between;
          .area1 {
            p {
              font-size: 0.6em;
            }
          }
          .btn {
            font-size: 0.6em;
          }
        }
      }
    }
    .reviews {
      height: auto;
    }
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #403b39;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaderArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.pages {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  i {
    font-size: 26px;
    color: #111;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
}
.pages i:hover {
  color: var(--sec-color);
}
.pages button {
  margin: 0 3px;
  width: 50px;
  font-size: 16px;
  height: 35px;
  border: none;
  border-radius: 5px;
}
.pages .b1 {
  padding: 0px 10px;
  width: fit-content;
}
.pages .b2 {
  padding: 0px 10px;
  width: fit-content;
}
.pages button:hover {
  background-color: var(--sec-color);
  border: none;
}
.active {
  background-color: var(--sec-color);
  border: none;
}
// statistics

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}
@mixin flex-row() {
  display: flex;
}

.statistics {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 5px 15px 0px #eee2;
  justify-content: space-between;

  .data {
    width: fit-content;
    gap: 1rem;
    max-width: 50%;
    @include flex-column();

    form {
      @include flex-column();
      gap: 0.5rem;

      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      select {
        padding: 0.3rem 0.5rem;
        font-size: 1em;
        background-color: #fa0;
        border: none;
        margin-left: 0.5rem;
      }
      input {
        margin-left: 0.5rem;
        padding: 0.2rem 0.5rem;
        border: none;
      }
      button {
        padding: 0.5rem 1rem;
        background-color: #fa0;
        border: none;
      }
    }

    .summary {
      b {
        color: #fa0;
      }
    }
    ul.top,
    .summary {
      @include flex-column();
      gap: 0.5rem;

      li {
        display: flex;
        gap: 0.5rem;

        img {
          width: 35%;
          aspect-ratio: 1.5/1;
          object-fit: cover;
          border-radius: 5px;
        }
        div {
          @include flex-column();
          justify-content: space-evenly;
          width: max-content;
          * {
            width: max-content;
          }
          b {
            color: #fa0;
          }
        }
      }
    }
  }
  .graph {
    border-left: 1px solid #eee6;
    padding-left: 2rem;
    flex: 1;
    max-width: 75%;
  }
}
.productItem {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 250px;
  height: 330px;
  a {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        :hover {
          transform: scale(1.4);
        }
      }
    }
  }
}
.productDes {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: left;
  .name {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: capitalize;
  }
  .seller {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--gray-color);
  }
  .price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .price-cart p {
      font-size: 24px;
      margin-bottom: 0;
    }
    i {
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.xy-container {
  .search {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
  }
  .productsdescription {
    .shopItems {
      div {
        .shop {
          color: var(--gray-color);
          line-height: 40px;
          font-size: 1.1rem;
          b {
            color: var(--main-color);
            padding-left: 30px;
          }
        }
      }
    }
    display: grid;
    margin-top: 150px;
    grid-template-columns: 1fr 3fr;

    .product {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    aside {
      padding: 50px;
      text-transform: capitalize;
      display: flex;
      flex-direction: column;
      p {
        color: var(--gray-color);
        line-height: 40px;
        font-size: 1.1rem;
        padding-left: 10px;
      }
      p span {
        color: var(--main-color);
        padding-left: 30px;
      }
      .manageProducts {
        position: relative;
      }

      .manageProducts::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 50%;
        height: 1px;
        background-color: black;
      }
    }
  }

  .sellerProfile {
    display: flex;

    .sellerInfo {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-bottom: 30px;
      padding-left: 20px;
    }
  }
  .container2 {
    height: 300px;
    grid-area: profile;
    display: flex;
    flex-direction: column;
    .profile {
      height: 60%;
    }
    .sellerProfile {
      display: grid;
      grid-template-columns: 1fr 3fr;
      .sellerPicture {
        display: flex;
        justify-content: right;
        padding-right: 20px;
        align-items: top;
        img {
          height: 200px;
          width: 200px;
          border-radius: 200px;
          border: 2px solid var(--gray-color);
        }
      }
      .sellerInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .email {
          color: var(--gray-color);
        }
        .edit {
          button {
            background-color: var(--sec-color);
            color: var(--back-color);
            border: none;
            border-radius: var(--xsm-space);
            padding: var(--sm-box-padding);
            font-size: 1em;
            font-weight: bold;
            margin-right: 40px;
            &:hover {
              background-color: var(--dark-sec-color);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    .container2 {
      .profile {
        height: 40%;
      }
    }
    .productsdescription {
      margin-top: 50px;
      aside {
        .manageProducts::after {
          content: '';
          width: 90%;
        }
      }
    }
  }
  @media screen and (max-width: 1163px) {
    .container {
      .container2 {
        .sellerProfile {
          .sellerPicture {
            img {
              height: 170px;
              width: 170px;
            }
          }
        }
        .profile {
          height: 40%;
        }
      }
    }
  }
  @media screen and (max-width: 935px) {
    .container {
      .container2 {
        .sellerProfile {
          .sellerPicture {
            img {
              height: 150px;
              width: 150px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 910px) {
    .container {
      .container2 {
        .profile {
          height: 30%;
          img {
            height: 170px;
          }
        }
      }
      .productsdescription {
        margin-top: 10px;
      }
    }
  }
  @media screen and (max-width: 680px) {
    .container {
      .container2 {
        .profile {
          img {
            height: 200px;
          }
        }
        .sellerProfile {
          display: flex;
          flex-direction: column;
          .sellerPicture {
            justify-content: center;
          }
          .sellerInfo {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 20px;
            button {
              margin-top: 20px;
            }
          }
        }
      }
      .productsdescription {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        aside {
          .sellerStatus {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            p span {
              padding-left: 0;
              text-align: center;
              line-height: 10px;
            }
          }
          .productStatus {
            display: flex;
            justify-content: center;

            .manageProducts {
              border-left: 1px solid black;
              padding: 0 20px;
              &:last-of-type {
                border-right: 1px solid black;
              }
            }
          }
          .manageProducts::after {
            display: none;
          }
        }
        .shopItems {
          padding-top: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .container {
      .container2 {
        height: 400px;
        .profile {
          img {
            height: 230px;
          }
        }
      }
      .productsdescription {
        aside {
          .sellerStatus {
            p {
              font-size: 14px;
            }
          }
          .productStatus {
            p {
              font-size: 12px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

.search {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.productContainer {
  box-sizing: border-box;
  display: grid;
  height: fit-content;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas:
    'product imfo'
    'review imfo';
  .productPictures {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    grid-area: product;
    height: 50vh;
    display: flex;
    flex-direction: row-reverse;
    .rightcont {
      width: 30%;
      overflow: auto;
      .right {
        display: flex;
        flex-direction: column;
        img {
          border-radius: 10px;
          padding: 5px;
          object-fit: cover;
        }
      }
    }
    .left {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .reviews {
    margin: 5px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    grid-area: review;

    p {
      margin-top: 30px;
      font-size: 22px;
      text-align: left;
      color: #111;
    }
    .star {
      i {
        color: #f90;
      }
    }
    .likers {
      margin-top: 10px;
      font-size: 13px;
      color: #888;
    }
  }
  .productInfo {
    grid-area: imfo;
    height: 79vh;
    margin: 5px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    .moremore {
      padding: 40px 40px;
      .more {
        .title {
          b {
            font-size: 22px;
            text-align: left;
            color: #111;
          }
        }
        .seller {
          margin-top: 10px;
          span {
            font-weight: bold;
          }
        }
        .desc {
          margin-top: 30px;
        }
        .price {
          margin-top: 30px;
          b {
            color: #111;
            font-weight: bold;
          }
        }
        p {
          font-size: 16px;
          color: #888;
        }
      }
      .buttons {
        .area1 {
          display: flex;
          flex-direction: row;
          border: 1px solid #888;
          width: 40%;
          justify-content: space-between;
          border-radius: 10px;
          flex-wrap: wrap;
          align-items: center;
          padding: 0 10px;
          height: 40px;
        }
        .btn {
          background-color: var(--sec-color);
          color: var(--back-color);
          border: none;
          border-radius: var(--xsm-space);
          padding: var(--sm-box-padding);
          font-size: 1em;
          font-weight: bold;
          width: 45%;
        }
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .productContainer {
    .productPictures {
      .rightcont {
        width: 40%;
      }
    }
  }
}
@media screen and (max-width: 810px) {
  .productContainer {
    .productPictures {
      .rightcont {
        width: 50%;
      }
    }
    .productInfo {
      .moremore {
        .buttons {
          justify-content: space-between;
          .area1 {
            p {
              font-size: 0.7em;
            }
          }
          .btn {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 730px) {
  .productContainer {
    .productPictures {
      .rightcont {
      }
    }
    .productInfo {
      .moremore {
        .buttons {
          justify-content: space-between;
          .area1 {
            p {
              font-size: 0.6em;
            }
          }
          .btn {
            font-size: 0.6em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 630px) {
  .productContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.5fr 0.3fr;
    grid-template-areas:
      'product'
      'imfo'
      'review';
    justify-content: center;
    align-items: center;
    .productPictures {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      .rightcont {
        width: 100%;
        height: 40%;
        overflow-y: hidden;
        .right {
          flex-direction: row;
          width: 100%;
          img {
            height: 150px;
            width: 40%;
          }
        }
      }
    }
    .productInfo {
      height: fit-content;
      .moremore {
        .buttons {
          justify-content: space-between;
          .area1 {
            p {
              font-size: 0.6em;
            }
          }
          .btn {
            font-size: 0.6em;
          }
        }
      }
    }
    .reviews {
      height: auto;
    }
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #403b39;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaderArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.pages {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  i {
    font-size: 26px;
    color: #111;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
}
.pages i:hover {
  color: #d90;
}
.pages button {
  margin: 0 3px;
  width: 50px;
  font-size: 16px;
  height: 35px;
  border: none;
  border-radius: 5px;
}
.pages .b1 {
  padding: 0px 10px;
  width: fit-content;
}
.pages .b2 {
  padding: 0px 10px;
  width: fit-content;
}
.pages button:hover {
  background-color: #d90;
  border: none;
}
.active {
  background-color: #d90;
  border: none;
}
// statistics

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}
@mixin flex-row() {
  display: flex;
}

.statistics {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 5px 15px 0px #eee2;
  justify-content: space-between;

  .data {
    width: fit-content;
    gap: 1rem;
    max-width: 50%;
    @include flex-column();

    form {
      @include flex-column();
      gap: 0.5rem;

      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      select {
        padding: 0.3rem 0.5rem;
        font-size: 1em;
        background-color: #fa0;
        border: none;
        margin-left: 0.5rem;
      }
      input {
        margin-left: 0.5rem;
        padding: 0.2rem 0.5rem;
        border: none;
      }
      button {
        padding: 0.5rem 1rem;
        background-color: #fa0;
        border: none;
      }
    }

    .summary {
      b {
        color: #fa0;
      }
    }
    ul.top,
    .summary {
      @include flex-column();
      gap: 0.5rem;

      li {
        display: flex;
        gap: 0.5rem;

        img {
          width: 35%;
          aspect-ratio: 1.5/1;
          object-fit: cover;
          border-radius: 5px;
        }
        div {
          @include flex-column();
          justify-content: space-evenly;
          width: max-content;
          * {
            width: max-content;
          }
          b {
            color: #fa0;
          }
        }
      }
    }
  }
  .graph {
    border-left: 1px solid #eee6;
    padding-left: 2rem;
    flex: 1;
    max-width: 75%;
  }
}
.product-list {
  display: flex;
  flex-direction: column;
  .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
