@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --back-color: #fff;
  --main-color: #111;
  --sec-color: #f90;
  --gray-color: #888;
  --light-gray-color: #ddd;
  --error-color: #ff003d;
  --fr-vw: calc(100vw / 12);
}

$sec-color: #f90;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  outline-color: var(--sec-color);
  max-width: 100%;
}

// input:focus {
//   outline: 2px solid var(--sec-color);
// }

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dialog {
  margin: auto;

  *:focus {
    outline: auto;
    outline-color: var(--sec-color);
  }
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  > main {
    position: relative;
    container-type: inline-size;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 1rem;
}
/*  styles on get all products*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
