name: React.js CI/CD

on:
  push:
    branches: ['develop']
  pull_request:
    branches: ['develop']
    types: [opened, synchronize, reopened]

env: 
  REACT_APP_SERVER_URL: https://brogrammers4.onrender.com

jobs:
  build-and-deploy-preview:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm i
      - run: npm test
      - run: npm run build
      - name: Deploy Preview
        uses: actions/setup-node@v3
        with:
          environment: preview
          ref: ${{ github.event.pull_request.head.sha }}
          deploy_key: ${{ secrets.DEPLOY_KEY }}
        if: github.event.pull_request.reviews == null